:root {
  --text-color: #85a0a3;
  --accent-color: #5fa392;
  --bg-light: #0b173c;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: var(--text-color);
  background: var(--bg-light);
}

/* HEADER */
header {
  text-align: center;
  padding: 2rem 1rem 1rem;
}

header h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 500;
}

header p {
  margin-top: 0.3rem;
  color: #85a0a3;
  font-size: 1rem;
  letter-spacing: 1px;
}

/* NAVIGATION */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 1.5rem;
  gap: 2.5rem;
}

nav a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.3s;
}

nav a:hover {
  color: #000;
}

/* HERO IMAGE */
.hero {
  margin-top: 2rem;
  background: url('leave.jpg') no-repeat center center/cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
  border-radius: 50%;
  background: #7d92a1;
  padding: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
